.divStyle{
  position: relative;
  top: 1vh;
  left: -3.5vh;
  height: 4vh;
}
.cart{
  cursor: pointer;
}
.style {
  margin-left: 2vh;
  margin-top: 2vh;
  max-width: 20rem;
  max-height: 200vh;
}
.cartStyle{
  position: sticky;
  top: 0;
  z-index: 100;
}